<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="129"
    android:versionName="2.9"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="com.weioa.GoPlusDrone"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/appName"
        android:icon="@mipmap/icon"
        android:name="com.gizthon.camera.application.CameraApplication"
        android:screenOrientation="landscape"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/icon"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.gizthon.camera.SplashActivity"
 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
            android:label="@string/app_name"
            android:name="com.gizthon.camera.core.usb.UVCScreenOffAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.gizthon.camera.activity.UVCUSBCameraActivity"
 
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.gizthon.camera.activity.GalleryListActivity">
            <intent-filter>
                <action android:name="com.gizthon.preview.gallery.list"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.gizthon.camera.activity.PreviewPhotoActivity"/>
        <activity
            android:name="com.gizthon.camera.activity.PreviewVideoActivity"/>
        <activity
            android:name="com.gizthon.camera.activity.HelpActivity"/>
        <meta-data
            android:name="tencent_qq_appid"
            android:value="@string/tencent_qq_appid"/>
        <meta-data
            android:name="weixin_key"
            android:value="@string/weixin_key"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="p8x5iGW6rUAgVw2w7GTmZMabnFApLdC9"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.weioa.GoPlusDrone.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.MainActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.FlashActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.GenericActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <service android:name="com.jieli.stream.dv.running2.ui.service.CommunicationService"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.PlaybackActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.me.DeviceSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.me.LanguageActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.me.APPAdvancedSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.me.AppStorageManageActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.jieli.stream.dv.running2.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:name="com.jieli.stream.dv.running2.ui.activity.UserAgreementActivity"/>
        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="com.jieli.stream.dv.running2.ui.activity.PlaybackDialogActivity"/>
        <activity
            android:name="com.jieli.stream.dv.running2.ui.activity.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.MenuActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.CameraActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.CameraNewActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.MainOldActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.HelpActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.VideoViewActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.FullImageActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.GalleryActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.FilesActivity"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.generalplus.GoPlusDrone.Activity.FileViewController"
 
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/ShareDialogTheme"
            android:name="com.xyzlf.share.library.ShareDialogActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.xyzlf.share.library.ShareHandlerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1"/>
    </application>
</manifest>
